## Hash encoding 

Hash Encoding converts categories into numbers using a hash function.

In [1]:
import pandas as pd 
import category_encoders as ce

In [2]:
crop_data=pd.read_csv("dataset/Crop_recommendation.csv")
crop_data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [8]:
data = pd.DataFrame({
    'City': ['Chennai', 'Mumbai', 'Delhi', 'Chennai']
})
data
temp=data.copy()

In [22]:
print(temp.shape)
temp.City.nunique()

(4, 1)

3

In [11]:
# Create Hash Encoder
encoder = ce.HashingEncoder(cols=['City'], n_components=3)

In [16]:
# Apply encoding
encoded_data = encoder.fit_transform(data)
encoded_data.columns

Index(['col_0', 'col_1', 'col_2'], dtype='object')

In [17]:
print(data.shape)
print(encoded_data.shape)

(4, 1)
(4, 3)

# When to Use

- When categorical feature has many unique values (high cardinality)
Example: User IDs, Product IDs, Zip Codes

- When One-Hot creates too many columns

- When memory efficiency is important

- Large-scale ML system

# Pros

- Fixed number of output columns

- Memory efficient

- Works well for large datasets

- Good for high-cardinality features

# Cons

- Hash collisions may occur

- Not interpretable

- Cannot reverse back to original category

- May slightly reduce model accuracy

*It is mainly used in production / Industry level with large dataset*

*it is used when our problem is dimension*